<html>

<head>
	<title>My Angular App!</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<!--Angular Scripts and Framework-->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<style>
		.glyphicon-thumbs-up {
			cursor: pointer
		}
	</style>
</head>

<body ng-app="flapperNews" ng-controller="MainCtrl">
<!--<body ng-app="flapperNews">-->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<ui-view></ui-view>
		</div>
	</div>

	<script type="text/ng-template" id="/home.html">
		<div class="page-header">
			<h1>Flapper News</h1>
		</div>

		<!-- rest of template -->
		<div ng-repeat="post in posts | orderBy:'-upvotes'">
			<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span> {{post.upvotes}}
			<span style="font-size:20px; margin-left:10px;">
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
			</span>				
			<span ng-hide="post.link">
				{{post.title}}
			</span>
			<span>
				<!--<a href="#/posts/{{$index}}">Comments</a>-->
				<a href="#/posts/{{post._id}}">Comments</a>
			</span>
		</div>

		<form ng-submit="addPost()" style="margin-top:30px;">
			<h3>Add a new post</h3>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
			</div>
			<button type="submit" class="btn btn-primary">Post</button>
		</form>
	</script>
	<script type="text/ng-template" id="/posts.html">
		<div class="page-header">
			<h3>
				<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
				</a>
				<span ng-hide="post.link">
					{{post.title}}
				</span>
				<!--Hide and Show is dependant on link having content-->
			</h3>
		</div>

		<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
			<span class="glyphicon glyphicon-thumbs-up"
				ng-click="incrementUpvotes(comment)"></span>
			{{comment.upvotes}} - by {{comment.author}}
			<span style="font-size:20px; margin-left:10px;">
				{{comment.body}}
			</span>
		</div>

		<form ng-submit="addComment()" style="margin-top:30px;">
			<h3>Add a Comment</h3>
			<div class="form-group">
				<input type="text"
					class="form-control"
					placeholder="Comment"
					ng-model="body"></input>
			</div>
			<!--<div class="form-group">
				<input type="text"
					class="form-control"
					placeholder="User"
					ng-model="user"></input>
			</div>-->
			<button type="submit" class="btn btn-primary">Post</button>
		</form>

	</script>
</body>

</html>

<!--Input: Placeholder => Text that goes inside the input box-->